set smarthome
set backup
set backupdir {{ config_dir }}/nano/backups
set tabstospaces
set tabsize 4
set historylog
set positionlog
set smooth
set mouse
set tempfile
include "{{ config_dir }}/nano/rcfiles/*.nanorc"
